{% extends 'base.html' %}

{% block content %}

<h1 class="signup-welcome">Ready to Sign Up?</h1>

{% if error_message %}
<h3 class="signup-error">{{ error_message }}</h3>
{% endif %}

<form class="signup-form" method="post" action="{% url 'signup' %}">
  {% csrf_token %}
  {% for field in form %}
  <div class="form-group">
    <label class="form-label">{{ field.label|capfirst }}</label>
    <div class="input-container">
      {{ field }}
      <div class="form-messages">
        {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text|safe }}</small>
        {% endif %}
        {% for error in field.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
  <input type="submit" class="signupSubmit-btn" value="Sign Up" />
</form>

{% endblock %}
