{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <title>Habits App</title>
</head>
<body>
  <header class="navbar">

    <nav>
      <div class="nav-wrapper">

        <ul class="nav-items"> 
          <li>
            <a href="/dashboard" class="habits-logo">habitsApp</a>
          </li>
          {% if user.is_authenticated %}
          <li><h2>Welcome, {{ user.username.lower }}!</h2></li>
          {%  endif %}
        </ul>

        <ul class="nav-items">
          {% if user.is_authenticated %}
          <li class="dashboard-btn"><a href="{% url 'dashboard' %}">Dashboard&nbsp;&nbsp;</a></li>
          <li class="inspo-btn"><a href="/inspo">Inspo&nbsp;&nbsp;</a></li>
          <li class="logout-btn"><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
          <li class="signup-btn"><a href="{% url 'signup' %}">SignUp&nbsp;&nbsp;</a></li>
          <li class="login-btn"><a href="{% url 'login' %}">Login&nbsp;&nbsp;</a></li>
          {% endif %}
        </ul>

      </div>
    </nav>
  </header>

  <main class="container">{% block content %} {% endblock %}</main>

  <footer>
    <div>
      All Rights Reserved, &copy; 2022 Habits App
    </div>
  </footer>

</body>
</html>