{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;600&family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@300;400;600&family=Raleway&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Habits App</title>
</head>

<body class="grid-container">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
    <header id="main-header" class="navbar grid-item">
        <nav id="main-nav" class="nav-wrapper">
            <div class="nav-items">
                <div class="logo-wrapper">
                    <div id="logo-item">
                        <a href="/" id="habits-logo" class="habits-logo">habitsApp</a>
                    </div>
                </div>
                {% if user.is_authenticated %}
                <div id="welcome-message">
                    <h2>Welcome, {{ user.username|capfirst }}!</h2>
                </div>                
                {% endif %}
                <div id="navigation-links" class="nav-links">
                    {% if user.is_authenticated %}
                    <div id="dashboard-btn" class="dashboard-btn btn-animation"><a href="{% url 'dashboard' %}">Dashboard</a></div>
                    <div id="inspo-btn" class="inspo-btn btn-animation"><a href="/inspo">Inspo</a></div>
                    <div id="calendar-btn" class="calendar-btn btn-animation"><a href="{% url 'calendar' %}">Calendar</a></div>
                    <div id="logout-btn">
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button class="logout-btn" type="submit">Logout</button>
                        </form>
                    </div>
                    {% else %}
                    <div id="signup-btn" class="signup-btn btn-animation"><a href="{% url 'signup' %}">SignUp</a></div>
                    <div id="login-btn" class="login-btn btn-animation"><a href="{% url 'login' %}">Login</a></div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>


    <main id="main-container" class="grid-item">{% block content %} {% endblock %}</main>


    <footer id="main-footer" class="grid-item">
        <div id="copyright-container">
            <p>Copyright &copy; 2023 Samuel Perales</p>
        </div>
    </footer>


</body>
</html>
