{% extends 'base.html'%}
{% block content%}

<h1>Inspiration Page</h1>
<br />
<br />

<div class="inspo-healthy">
  <h3>Healthy Habits to Focus On:</h3>
  <ul>
    <li>Eating Healthy - This helps us maintain a healthy mood and body!</li>
    <li>Sleeping Early - Getting to bed on time ensures that we have enough energy for tomorrow!</li>
    <li>Brushing Your Teeth - Having healthy teeth ensures that our teeth will not rot when we are older :)</li>
  </ul>
</div>

<div class="inspo-unhealthy">
  <h3>Unhealthy Habits to Be Aware Of:</h3>
  <ul>
    <li>Snacking (High Sugar or High Salt Content) - This may create an imbalance in our degestive process which can affect mood & energy if we are not careful.</li>
    <li>Sleeping Late - Not having a sleeping schedule can make our days very unpredictable, we should minimize how long we stay up till.</li>
    <li>Watching TV - Too much entertainment can lead us astray of our goals, even if our shows are so good, we do not have to bingle the whole thing in one sitting.</li>
  </ul>
</div>
{% endblock %}