
/* orange: #FFA254;
orange-pink: #F37C77;
light-purple: #C76A91;
dark-purple: #886395;
dark-blue: #4E597E;
dark-green: #2F4858; */



/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  background-color: #F37C77;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}


.nav-wrapper {
  background-color: #FFA254;
  padding: 0%;
  align-items: center;
}

.nav-items {
  list-style-type: none;
  font-size: 15px;
  display: inline;
}

.nav-links {
  list-style-type: none;
  font-size: 15px;
  display: inline;
}

.habits-logo {
  text-decoration: none;
  color: #2F4858;
  font-size: 30px;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: #FFA254;
  font-size: 15px;
}

.login-welcome {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 360px;
  margin-right: 400px;
  font-size: 15px;
}
.signup-welcome {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 360px;
  margin-right: 340px;
  font-size: 15px;
  margin-bottom: 50px;
}
