
/* orange: #FFA254;
orange-pink: #F37C77;
light-purple: #C76A91;
dark-purple: #886395;
dark-blue: #4E597E;
dark-green: #2F4858; */

.nav-items {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.habits-logo {
  text-decoration: none;
  color: #2F4858;
  font-size: 30px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  padding: 0;
  margin-bottom: 5px;
  text-align: right;
}