{% extends 'base.html' %}

{% block content %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var events = {{ events|safe }};
        
        // Log events data on the frontend
        console.log('Frontend Events:', events);

        // Handle events with color set to null
        events.forEach(function(event) {
            if (event.color === null) {
                // Option 1: Remove the color property
                delete event.color;

                // Option 2: Set a default color if you want
                // event.color = '#YOUR_DEFAULT_COLOR';
            }
        });

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: events,
            dateClick: function(info) {
                let date = info.dateStr;
                let url = `{% url 'day_detail_view' date='REPLACE' %}`.replace('REPLACE', date);
                window.location.href = url;
            }
        });
        calendar.render();
    });
    
</script>

<div id='calendar'></div>

{% endblock %}
